<!-- About -->
<section class="about grid">
  <div class="sect-heading">
    <h2>About</h2>
  </div>
  <div class="about-content sect-flex">
    <div class="sect-flex-img">
      <img
        src="../../../assets/img/IMG_4497.jpg"
        alt="Dave-image"
        class="about-img"
      />
    </div>
    <div class="sect-flex-details">
      <h2 class="about-heading">I'm Aremu David</h2>
      <p class="about-para">
        A frontend developer that turns ideas into live products, and also
        builds pixel-perfect user interfaces. I am a fast and flexible learner,
        that’s constantly looking for a way to better myself while staying true
        to my fundamental values of Passion and Simplicity. I also love
        discussing tech and how the world can be changed through it.
      </p>
      <a
        href="https://docs.google.com/document/d/10o9e4cJCYNdh5CfvvAbHyV05G9TVyhsN_DIvKeu3e_s/edit?usp=sharing"
        target="_blank"
        class="btn"
        >Download CV</a
      >
    </div>
  </div>
</section>
