// Variables
$font-semi: 600;
$primary-color: #4070f4;
$secondary-color: #0e2431;
$dark-sec-color: #040B0F;
$white-color: #ffffff;
$bg-color: rgba(182, 182, 182, 0.144);
$font-size-h2: 1.25rem;
$font-size-normal: 0.938rem;
$border-radius: 0.5rem;
$box-shadow: 0 4px 25px rgba(14,36,49,.15);
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-5: 3rem;
