<!-- Skills -->
<section class="skill grid" id="skill">
  <div class="sect-heading">
    <h2>Skills</h2>
  </div>
  <div class="skil-content sect-flex">
    <div class="skill-content-details sect-flex-details">
      <h2>Professional skills</h2>
      <p>Here is the list of technologies I recently worked with:</p>
      <div class="skill-list">
        <div class="skill-item">
          <div class="skill-names">
            <i class="bx bxl-html5 skill-icon"></i>
            <span class="skill-name">HTML5</span>
          </div>
          <div class="skill-bar skill-html"></div>
        </div>
        <div class="skill-item">
          <div class="skill-names">
            <i class="bx bxl-css3 skill-icon"></i>
            <span class="skill-name">CSS3</span>
          </div>
          <div class="skill-bar skill-css"></div>
        </div>
        <div class="skill-item">
          <div class="skill-names">
            <i class="bx bxl-javascript skill-icon"></i>
            <span class="skill-name">JAVASCRIPT</span>
          </div>
          <div class="skill-bar skill-js"></div>
        </div>
        <div class="skill-item">
          <div class="skill-names">
            <i class="bx bxl-angular skill-icon"></i>
            <span class="skill-name">ANGULAR</span>
          </div>
          <div class="skill-bar skill-an"></div>
        </div>
        <div class="skill-item">
          <div class="skill-names">
            <i class="bx bxl-firebase skill-icon"></i>
            <span class="skill-name">FIREBASE</span>
          </div>
          <div class="skill-bar skill-fb"></div>
        </div>
      </div>
    </div>
    <div class="skill-content-img sect-flex-img">
      <img src="../../../assets/img/work3.jpg" alt="image" />
    </div>
  </div>
</section>
