<!-- Home -->
<section class="home grid" id="home">
  <div class="home-details">
    <h1 class="home-title">
      Hi,<br />I'm <span class="home-title-color">David</span><br />
      Frontend web developer
    </h1>
    <a routerLink="contact" class="btn">Contact</a>
  </div>
  <div class="home-img">
    <img src="../../../assets/img/banner-image.png" alt="image" />
  </div>
  <div class="home-social">
    <a
      href="https://www.linkedin.com/in/aremu-david-64a63a193/"
      class="home-social-icon"
      target="_blank"
      ><i class="bx bxl-linkedin"></i
    ></a>
    <a
      href="https://mobile.twitter.com/Khingdave2"
      class="home-social-icon"
      target="_blank"
      ><i class="bx bxl-twitter"></i
    ></a>
    <a
      href="https://github.com/Khingdave1"
      class="home-social-icon"
      target="_blank"
      ><i class="bx bxl-github"></i
    ></a>
  </div>
  <div class="home-learn-more">
    <!-- <p>Learn more about me</p> -->
    <i class="bx bxs-chevron-down learn-more-icon" routerLink="about"></i>
  </div>
</section>
