<!-- Home -->
<section class="home grid" id="home">
  <div class="home-details">
    <h1 class="home-title">
      Hi,<br />I'm <span class="home-title-color">David</span><br />
      Frontend web developer
    </h1>
    <a routerLink="contact" class="btn">Contact</a>
  </div>
  <div class="home-img">
    <img src="../../../assets/img/banner-image.png" alt="image" />
  </div>
  <div class="home-learn-more">
    <!-- <p>Learn more about me</p> -->
    <i class="bx bxs-chevron-down learn-more-icon" routerLink="about"></i>
  </div>
</section>
