<!-- Footer -->
<footer class="footer">
  <a href="#home" class="footer-logo"><h2>Khingdave</h2></a>
  <div class="footer-social">
    <a
      href="https://web.facebook.com/aremu.odunayodavid"
      class="footer-icon"
      target="_blank"
      ><i class="bx bxl-facebook"></i
    ></a>
    <a
      href="https://www.instagram.com/khingdave/"
      class="footer-icon"
      target="_blank"
      ><i class="bx bxl-instagram"></i
    ></a>
    <a
      href="https://mobile.twitter.com/Khingdave2"
      class="footer-icon"
      target="_blank"
      ><i class="bx bxl-twitter"></i
    ></a>
  </div>
  <p>
    &copy; <span>{{ currentYear }}</span> copyright all right reserved
  </p>
</footer>
