<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>

<!-- Social links -->
<div class="social">
  <a
    href="https://www.linkedin.com/in/aremu-david-64a63a193/"
    class="social-icon"
    target="_blank"
    ><i class="bx bxl-linkedin"></i
  ></a>
  <a
    href="https://mobile.twitter.com/Khingdave2"
    class="social-icon"
    target="_blank"
    ><i class="bx bxl-twitter"></i
  ></a>
  <a href="https://github.com/Khingdave1" class="social-icon" target="_blank"
    ><i class="bx bxl-github"></i
  ></a>
</div>
